services:
  gitea:
    image: gitea/gitea:1.24.5
    container_name: gitea
    restart: unless-stopped
    environment:
      - USER_UID=1000
      - USER_GID=1000
      # UI
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=${POSTGRES_HOST:-postgres}:${POSTGRES_PORT:-5432}
      - GITEA__database__NAME=${POSTGRES_DB:-gitea}
      - GITEA__database__USER=${POSTGRES_USER:-gitea}
      - GITEA__database__PASSWD=${POSTGRES_PASSWORD:-gitea}
      - GITEA__server__SSH_PORT=2222
      - GITEA__server__ROOT_URL=https://gitea.{{ domain }}
      - GITEA__ui__DEFAULT_THEME=catppuccin-frappe-sky
      - GITEA__ui__THEMES="catppuccin-macchiato-sky,catppuccin-frappe-sky,catppuccin-latte-sky,catppuccin-mocha-sky,catppuccin-teal-auto,catppuccin-frappe-blue,catppuccin-latte-blue,catppuccin-macchiato-blue,catppuccin-mocha-blue,catppuccin-frappe-sky,catppuccin-latte-sky,catppuccin-mocha-sky"
    networks:
      - proxy
    volumes:
      - {{ gitea_dir}}/data:/data
      - {{ gitea_dir }}/custom/css:/data/gitea/public/assets/css/
      - {{ gitea_backup_dir | default('/backups/gitea') }}:/data/backups
      #- /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3001:3000"
      - "2222:22"
    labels:
      {% for label in gitea_labels %}
      - "{{ label }}"
      {% endfor %}

networks:
  proxy:
    external: true
