services:
  runner:
    image: docker.io/gitea/act_runner:nightly
    container_name: gitea-runner
    restart: unless-stopped
    environment:
      - GITEA_INSTANCE_URL=https://gitea.{{ domain }}
      - GITEA_RUNNER_REGISTRATION_TOKEN={{ registration_token }}
      - GITEA_RUNNER_NAME={{ gitea_runner_name | default('homelab-runner') }}
      - GITEA_RUNNER_LABELS={{ gitea_runner_labels | default('ubuntu-latest:docker://catthehacker/ubuntu:act-latest,self-hosted:host') }}
    volumes:
      - {{ gitea_dir }}/runners:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
