---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/bookmarks

- Developer:
    - Github:
        - abbr: GH
          href: https://github.com/
    - Netbird:
        - abbr: NB
          href: https://netbird.io

- Social:
    - Reddit:
        - abbr: RE
          href: https://reddit.com/

- Entertainment:
    - YouTube:
        - abbr: YT
          href: https://youtube.com/

- News:
    - Hacker News:
        - abbr: HN
          href: https://news.ycombinator.com/
    - TechCrunch:
        - abbr: TC
          href: https://techcrunch.com/
    - Ars Technica:
        - abbr: AT
          href: https://arstechnica.com/
    - The Verge:
        - abbr: TV
          href: https://theverge.com/
    - Wired:
        - abbr: WI
          href: https://wired.com/
