---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services
# icons found here https://github.com/walkxcode/dashboard-icons

- HOME-LAPTOP:
    - PVE:
        icon: proxmox.svg
        href: "any"
        description: pve1
        widget:
            type: proxmox
            url: "any"
            username:  "any"
            password:  "any"
            node: pve
