networks:
  proxy:
    external: true
services:
  traefik:
    image: traefik:v3.3.5
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    ports:
      - 80:80
      - 443:443
      # - 443:443/tcp # Uncomment if you want HTTP3
      # - 443:443/udp # Uncomment if you want HTTP3
    environment:
      CF_DNS_API_TOKEN: ${CLOUD_FLARE_HOME_API_TOKEN}
      ## Generated with echo $(htpasswd -nB mombe090) | sed -e s/\\$/\\$\\$/g
      TRAEFIK_DASHBOARD_CREDENTIALS: ${TRAEFIK_DASHBOARD_CREDENTIALS}
    volumes:
      - /run/docker.sock:/run/docker.sock:ro
      - '{{ traefik_dir }}/traefik.yml:{{ traefik_dir }}/traefik.yml:ro'
      - '{{ traefik_dir }}/data/certs/:/var/traefik/certs/:rw'
      - '{{ traefik_dir }}/config/conf.d:{{ traefik_dir }}/conf.d/:ro'
    labels:
      {% for label in traefik_labels %}
      - {{ label }}
      {% endfor %}
