services:
  traefik:
    image: traefik:v3.2.1
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    ports:
      - 80:80
      - 443:443
      # - 443:443/tcp # Uncomment if you want HTTP3
      # - 443:443/udp # Uncomment if you want HTTP3
    environment:
      CF_DNS_API_TOKEN: ${CLOUD_FLARE_HOME_API_TOKEN}

      ## Generated with echo $(htpasswd -nB mombe090) | sed -e s/\\$/\\$\\$/g
      TRAEFIK_DASHBOARD_CREDENTIALS: ${TRAEFIK_DASHBOARD_CREDENTIALS}
    volumes:
      - /run/docker.sock:/run/docker.sock:ro
      - '{{ traefik_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro'
      - '{{ traefik_dir }}/data/certs/:/var/traefik/certs/:rw'
      - '{{ traefik_dir }}/config/conf.d:/etc/traefik/conf.d/:ro'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.traefik.entrypoints=http'
      - 'traefik.http.routers.traefik.rule=Host(`proxy.home.mombesoft.com`)'
      - 'traefik.http.middlewares.traefik-auth.basicauth.users=${TRAEFIK_DASHBOARD_CREDENTIALS}'
      - 'traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=https'
      - 'traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https'
      - 'traefik.http.routers.traefik.middlewares=traefik-https-redirect'
      - 'traefik.http.routers.traefik-secure.entrypoints=https'
      - 'traefik.http.routers.traefik-secure.rule=Host(`proxy.home.mombesoft.com`)'
      - 'traefik.http.routers.traefik-secure.middlewares=traefik-auth'
      - 'traefik.http.routers.traefik-secure.tls=true'
      - 'traefik.http.routers.traefik-secure.tls.certresolver=cloudflare'
      - 'traefik.http.routers.traefik-secure.tls.domains[0].main=home.mombesoft.com'
      - 'traefik.http.routers.traefik-secure.tls.domains[0].sans=*.home.mombesoft.com'
      - 'traefik.http.routers.traefik-secure.service=api@internal'

networks:
  proxy:
    external: true
