networks:
  proxy:
    external: true

volumes:
  n8n_data:
    driver: local

services:
  n8n:
    image: n8nio/n8n:stable
    container_name: n8n
    restart: unless-stopped
    networks:
      - proxy
    ports:
      - 5678:5678
    environment:
      GENERIC_TIMEZONE: America/Toronto
      TZ: America/Toronto
      N8N_HOST: "n8n.{{ domain }}"
      N8N_PORT: 5678
      NODE_ENV: production
      N8N_PROTOCOL: https
      WEBHOOK_URL: "https://n8n.{{ domain }}/"
      N8N_ENCRYPTION_KEY: "{{ lookup('env', 'N8N_ENCRYPTION_KEY') }}"
    volumes:
      - n8n_data:/home/node/.n8n
      - {{ traefik_dir }}/composes/n8n/local-files:/files
    labels:
      {% for label in n8n_labels %}
      - {{ label }}
      {% endfor %}
