[user]
  name = {{ git_user_name | default('Your Full Name') }}
  email = {{ git_user_email | default('your@email.tld') }}
[color]
  ui = auto
[core]
  pager = cat
  excludesfile = ~/.gitignore_global
  # hooksPath = ~/.githooks
  editor = vim
  whitespace = -trailing-space
